<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjmeow.bubble.dao.BubbleMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bubble (title, content, pic, user_id, location)
        VALUES (#{title}, #{content}, #{pic}, #{userId}, ST_GeometryFromText(#{point}, 4326));
    </insert>
    <select id="selectBubbleById" resultType="Bubble">

        SELECT
        id,
        title,
        pic,
        created_time,
        content,
        user_id,
        tap,
        deadline,
        st_x(location) AS lng,
        st_y(location) AS lat
        FROM bubble
        WHERE id = #{id}
    </select>

    <select id="selectBubbleByLocation" resultType="Bubble">
        SELECT
        id,
        title,
        pic,
        created_time,
        st_x(location) AS lng,
        st_y(location) AS lat
        FROM
            bubble
        ORDER BY #{point}
        LIMIT 10;
    </select>

    <select id="selectBubbleByUserId" resultType="Bubble">
        SELECT
            id,
            title,
            pic,
            created_time,
            tap,
            content,
            st_x(location) AS lng,
            st_y(location) AS lat
        FROM
            bubble
        WHERE user_id = #{userId}

    </select>
    <update id="addOneTap">
        UPDATE bubble
        SET tap = tap + 1
        WHERE id = #{id};
    </update>


</mapper>