<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjmeow.bubble.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zjmeow.bubble.model.po.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="psw" jdbcType="VARCHAR" property="psw"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <select id="selectUserByPhone" resultType="User">
        SELECT
            psw,
            id
        FROM public.user
        WHERE phone = #{phone}
    </select>

    <select id="selectUserPasswordById" resultType="User">
        SELECT psw
        FROM public.user
        WHERE id = #{id}
    </select>

    <select id="selectUserDetailById" resultType="User">
        SELECT
        username,
        avatar,
        info,
        id,
        login_time
        FROM public.user
        WHERE id = #{id}
    </select>


    <insert id="insertUser">
        INSERT INTO public.user (username, psw, phone) VALUES (#{username}, #{psw}, #{phone});
    </insert>


    <update id="updateAvatar">
        UPDATE public.user
        SET avatar = #{avatar}
        WHERE id = #{id};
    </update>

    <update id="updateInfo">
        UPDATE public.user
        SET info = #{info}
        WHERE id = #{id};
    </update>

    <update id="updateLocation">
        UPDATE public.user
        SET location   = ST_GeometryFromText(#{location}, 4326),
            login_time = #{loginTime}
        WHERE id = #{id}
    </update>

</mapper>