<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjmeow.bubble.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zjmeow.bubble.model.po.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="psw" jdbcType="VARCHAR" property="psw"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
    </resultMap>

    <select id="selectPassword" resultType="User">
        SELECT psw FROM bubble_user WHERE phone = #{phone}
    </select>
</mapper>